[user]
	name = Bradley Bossard
	email = bradleybossard@gmail.com
[color]
	ui = true
[diff]
	tool = vimdiff
[merge]
  tool = /Users/bradleybossard/scripts/diffwrap.sh 
[push]
  default = tracking
[pull]
  rebase = true
[branch]
  autosetuprebase = always
[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore
[alias]
  ac = commit -a --message
  br = branch
  ci = commit
	co = checkout
  cob = checkout -b
  col = checkout @{-1}
  diffc = diff --cached
  edit = !vim $(git status -s | cut -c4-)
  incoming = log origin/master ^master
  last = log -1 HEAD
  logpretty = log --pretty=oneline
  lol = log --oneline --graph --decorate
  outgoing = log master ^origin/master
  pullsubs = submodule foreach git pull origin master
  spa = !"git stash; git pull; git stash apply"
  spp = !"git stash; git pull; git stash pop"
	st = status 
  t = tag -n3
  unstage = reset HEAD --
[credential]
	helper = store
[credential "https://github.com"]
    username = bradleybossard
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[difftool]
	prompt = false
