[user]
	name = Bradley Bossard
	email = bradleybossard@gmail.com
[color]
	ui = true
[diff]
	tool = vimdiff
[merge]
  tool = /Users/bradleybossard/scripts/diffwrap.sh 
[difftool "gvimdiff"]
	path = mvim
[push]
  default = tracking
[pull]
  rebase = true
[branch]
  autosetuprebase = always
[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	co = checkout
	st = status 
  br = branch
  ci = commit
  ac = commit -a --message
  t = tag -n3
  logpretty = log --pretty=oneline
  lol = log --oneline --graph --decorate
  incoming = log origin/master ^master
  outgoing = log master ^origin/master
  unstage = reset HEAD --
  last = log -1 HEAD
  pullsubs = submodule foreach git pull origin master
[credential]
	helper = store
[credential "https://github.com"]
    username = bradleybossard
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
