init-author-name=Bradley Bossard
init-author-email=bradleybossard@gmail.com
init-author-url=http://bradleybossard.com/
init-license=MIT
save-exact=true
@moovelna:registry=https://moovelnabuild.jfrog.io/moovelnabuild/api/npm/npm/
//moovelnabuild.jfrog.io/moovelnabuild/api/npm/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJ4eU5JZDhFenFoeFFERnBONlNqYTNvNDV2QVBBRTNwUjVud0pxc1pmRzBzIn0.eyJzdWIiOiJqZnJ0QDAxYnRkbWh6MHZ2cDNiMXBqdnQxdngwZGp4XC91c2Vyc1wvbXYtc2VydmljZXMtcm8iLCJzY3AiOiJtZW1iZXItb2YtZ3JvdXBzOiogYXBpOioiLCJhdWQiOiJqZnJ0QDAxYnRkbWh6MHZ2cDNiMXBqdnQxdngwZGp4IiwiaXNzIjoiamZydEAwMWJ0ZG1oejB2dnAzYjFwanZ0MXZ4MGRqeCIsImlhdCI6MTUyMTQzMDE4MCwianRpIjoiNmVjNGVlZTMtNWIyZC00YWE2LWI2YTktYzliMTQ5NTNlN2I4In0.fsc3mefL3_6raZ6ACpf75DBdItnsCq5bExvCif6YSkTNshi2KwGomR1DFXmVe8DvLjUT6IDgk2h4GTBzO0EggZWcKJeEwYy9vv0Dd01RzayRqykYtYzOyYzvqkKC45qVtd14kJqdDvKL0q0lkK9SKbUS5J8bhBMOiLUUuzXVwBnE5x9WIJOT997tIrKSISUr_dP2Vev3dvlo5Mc0ty5v4eRh0Tvngd5I6xP_B5kDEWxDjpgDwXCMY4S-Oy-op5DZhGrZEjhWJaTl_5ozrEVAo63U_a3v3j3Q4lJeTnK97FtLJEFsSSNeUt015CV5c0SFlOsIihfQv_7iLoh6l8aQMw
