init-author-name=Bradley Bossard
init-author-email=bradleybossard@gmail.com
init-author-url=http://bradleybossard.com/
init-license=MIT
//registry.npmjs.org/:_authToken=93466895-4d9c-4edb-869d-c4f2df8a6989
